<h1>Os meus escolhidos</h1>

<% @gyms.each do |gym| %>
  <div class="card">
    <%= gym.name %>
    <%= gym.address %>
    <%= gym.amount_of_times %>
  </div>
<% end %>

<%= link_to '+ Adicionar', new_gym_path %>
