.gym-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gym-card {
  display: flex;
  flex-direction: column;
}

.gym-card-info {
  width: 400px;
  // height: 200px;
  padding: 10px;
  margin: 5px 5px 0 5px;
  border-radius: 10px 10px 0 0;
  background-color: rgb(64, 221, 64);
}

.gym-card-links {
  text-align: end;
  padding: 10px;
  padding: 0 10px 0 10px;
  margin: 0 5px 5px 5px;
  border: 1px solid rgb(64, 221, 64);
  border-radius: 0 0 10px 10px;

  a {
    margin: 5px;
    color: rgb(70, 186, 70);
  }
}
